In [7]:
import pandas as pd

In [ ]:
df = pd.read_csv("C:/Users/deiner.souza/Documents/Selenium/Pratica/Relatorio_financeiro.csv")
df.head(5)

,Unnamed: 0,chave_nota,numero da nota,valor da nota,CFOP
0,0,31250721238738000323550010000004061639199159,406,"\n 45,60\n",5102 - VENDA DE MERCADORIA ADQUIRIDA OU RECEBI...
1,1,31250721238738000323550010000004071167666112,407,"\n 60,00\n",5102 - VENDA DE MERCADORIA ADQUIRIDA OU RECEBI...
2,2,31250721238738000323550010000004081077109173,408,"\n 54,40\n",5102 - VENDA DE MERCADORIA ADQUIRIDA OU RECEBI...
3,3,31250721238738000323550010000004091604204131,409,"\n 59,20\n",5102 - VENDA DE MERCADORIA ADQUIRIDA OU RECEBI...
4,4,31250721238738000323550010000004101586683917,410,"\n 98,00\n",5102 - VENDA DE MERCADORIA ADQUIRIDA OU RECEBI...

In [19]:
df.drop("Unnamed: 0", axis=1, inplace=True)

In [20]:
df.head()

,chave_nota,numero da nota,valor da nota,CFOP
0,31250721238738000323550010000004061639199159,406,"\n 45,60\n",5102 - VENDA DE MERCADORIA ADQUIRIDA OU RECEBI...
1,31250721238738000323550010000004071167666112,407,"\n 60,00\n",5102 - VENDA DE MERCADORIA ADQUIRIDA OU RECEBI...
2,31250721238738000323550010000004081077109173,408,"\n 54,40\n",5102 - VENDA DE MERCADORIA ADQUIRIDA OU RECEBI...
3,31250721238738000323550010000004091604204131,409,"\n 59,20\n",5102 - VENDA DE MERCADORIA ADQUIRIDA OU RECEBI...
4,31250721238738000323550010000004101586683917,410,"\n 98,00\n",5102 - VENDA DE MERCADORIA ADQUIRIDA OU RECEBI...

In [22]:
df.columns = ["CHAVE", "NUMERO", "VALOR","CFOP"]

In [23]:
df.head()

,CHAVE,NUMERO,VALOR,CFOP
0,31250721238738000323550010000004061639199159,406,"\n 45,60\n",5102 - VENDA DE MERCADORIA ADQUIRIDA OU RECEBI...
1,31250721238738000323550010000004071167666112,407,"\n 60,00\n",5102 - VENDA DE MERCADORIA ADQUIRIDA OU RECEBI...
2,31250721238738000323550010000004081077109173,408,"\n 54,40\n",5102 - VENDA DE MERCADORIA ADQUIRIDA OU RECEBI...
3,31250721238738000323550010000004091604204131,409,"\n 59,20\n",5102 - VENDA DE MERCADORIA ADQUIRIDA OU RECEBI...
4,31250721238738000323550010000004101586683917,410,"\n 98,00\n",5102 - VENDA DE MERCADORIA ADQUIRIDA OU RECEBI...

In [ ]:
df.loc[df["VALOR"] == r""]